%table
  %caption
  %thead
    %tr
      %th= t 'formtastic.labels.message.title'
      %th= t 'formtastic.labels.message.content'
      %th= t 'formtastic.labels.message.priority'
      %th= t 'formtastic.labels.message.status'
      %th
      %th
  - @messages.each do |message|
    %tr
      %td= message.title
      %td= message.content
      %td= message.priority
      %td= message.status
      %td
        = link_to t('message.make_read'), :controller => 'board', :action => 'make_read', :id => message if message.unread?
        = link_to t('message.make_unread'), :controller => 'board', :action => 'make_unread', :id => message if message.read?
      %td
        = link_to t('global.show'), message
        = link_to t('global.delete'), message, :confirm => t('site.are_you_sure'), :method => :delete

= will_paginate @messages
