#roundshape
  - if admin?
    = link_to t('global.edit'), edit_message_path(@message)
    |
  \#{link_to t('global.back'), :back}

%p
  %b= t 'message.from'
  = @message.user ? @message.user.username : t('global.system')
%p
  %b= t 'formtastic.labels.message.msg_type'
  = @message.msg_type
%p
  %b= t 'formtastic.labels.message.title'
  = @message.title
%p
  %b= t 'formtastic.labels.message.content'
  .solidshape
    = raw @message.content
%p
  %b= t 'formtastic.labels.message.priority'
  = @message.priority
%p
  %b= t 'formtastic.labels.message.status'
  = @message.local_status
