.row-fluid
  .span6
    %h2= t 'service.manager'
    %dl
      - @users.each do |u|
        %dt{:class=>'label'}= t('service.service') + ': ' + u.username
        %dd
          - if u.im_q
            = 'QQ :' + u.im_q
            = link_to image_tag("http://wpa.qq.com/pa?p=1:#{u.im_q}:4", :alt=>'点击这里给我发消息'), "tencent://message/?uin=#{u.im_q}&Site=&Menu=yes", :target=>'_black'
            %br
            = "Email: #{u.im_q}@qq.com"

  .span6
    %h2= t 'service.admin'
    %dl
      - @admins.each do |u|
        %dt{:class=>'label'}= t('service.administrator') + ': ' + u.username
        %dd
          - if u.im_q
            = 'QQ :' + u.im_q
            = link_to image_tag("http://wpa.qq.com/pa?p=1:#{u.im_q}:4", :alt=>'点击这里给我发消息'), "tencent://message/?uin=#{u.im_q}&Site=&Menu=yes", :target=>'_black'
            %br
            = "Email: #{u.im_q}@qq.com"

