<h1>Listing transports</h1>

<table>
  <tr>
    <th>Tran type</th>
    <th>Tran</th>
    <th>Status</th>
    <th>From</th>
    <th>To</th>
    <th>Tran time</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @transports.each do |transport| %>
  <tr>
    <td><%= transport.tran_type %></td>
    <td><%= transport.tran_id %></td>
    <td><%= transport.status %></td>
    <td><%= transport.from %></td>
    <td><%= transport.to %></td>
    <td><%= transport.tran_time %></td>
    <td><%= link_to 'Show', transport %></td>
    <td><%= link_to 'Edit', edit_transport_path(transport) %></td>
    <td><%= link_to 'Destroy', transport, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Transport', new_transport_path %>
