<p id="notice"><%= notice %></p>

<p>
  <b>Tran type:</b>
  <%= @transport.tran_type %>
</p>

<p>
  <b>Tran:</b>
  <%= @transport.tran_id %>
</p>

<p>
  <b>Status:</b>
  <%= @transport.status %>
</p>

<p>
  <b>From:</b>
  <%= @transport.from %>
</p>

<p>
  <b>To:</b>
  <%= @transport.to %>
</p>

<p>
  <b>Tran time:</b>
  <%= @transport.tran_time %>
</p>


<%= link_to 'Edit', edit_transport_path(@transport) %> |
<%= link_to 'Back', transports_path %>
