%table
  %caption= t 'site.notice'
  %thead
    %tr
      %th= t 'global.title'
      %th= t 'global.content' 
      %th= t 'global.created_at'
      %th
  - @notices.each do |notice|
    %tr
      %td= notice.title
      %td= notice.content.length > 50 ? notice.content[0..50] + '...' : notice.content
      %td= l notice.created_at, :format => :short
      %td
        = link_to t('global.show'), notice
        - if admin? or manager?
          = link_to t('global.edit'), edit_notice_path(notice)
          = link_to t('global.delete'), notice, :confirm => t('site.are_you_sure'), :method => :delete
%br/
