#roundshape
  = link_to t('global.edit'), edit_notice_path(@notice)
  |
  \#{link_to t('global.back'), notices_path}
.bordershape
  %p
    %b= t 'global.title'
    = @notice.title
  %p
    %b= t 'global.content'
    = @notice.content
