= render :partial => "devise/shared/links"
/%h2= t 'site.register' 
#wide
  .solidshape
    = t('site.sign_tip')
    %br
    = t('site.sign_rule1')
    %br
    = t('site.sign_rule2')
    %br
    = t('site.sign_rule3')
    %br
    = t('site.sign_rule4')
    %br
    = t('site.sign_rule5')

  #fieldset.formContainer
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
      = devise_error_messages!
      .rowContainer
        = label_tag t('site.login_name')
        = f.text_field :username, { :class => 'validate[required],minSize[6],maxSize[20],custom[normalName]' }
      .rowContainer
        = label_tag t('page.email')
        = f.text_field :email, { :class => 'validate[required],custom[email]' }
      .rowContainer
        = label_tag t('site.password')
        = f.password_field :password, { :class => 'validate[required],minSize[6],maxSize[20]' }
      .rowContainer
        = label_tag t('site.password_confirmation')
        = f.password_field :password_confirmation, { :class => 'validate[required,equals[user_password]],minSize[6],maxSize[20]' }
      %br
      = f.submit t('site.register_agree')
