- if @task
  #tearshape
    = label_tag t('site.task')
    = @task.title
    |
    = label_tag t('task.owner')
    = @task.user.username
    |
    = label_tag t('task.worker')
    = @task.worker.username
    |
    = label_tag t('global.price')
    = @task.price

- semantic_form_for @issue do |f| 
  - f.inputs do
    = f.input :title
    = f.input :content, :as => :text
    = f.input :itype, :as => :select, :collection => {'一般问题' => 'normal', '大额提现' => 'cash' } if session[:issue_type].nil?
    = f.submit t('issue.send')
