- if admin? and session[:view_task] == 'payment'
  :javascript
    $(function() {
    var dates = $( "#from, #to" ).datepicker({
      defaultDate: "+1w",
      changeMonth: true,
      numberOfMonths: 2,
      dateFormat: "yy/mm/dd",
      onSelect: function( selectedDate ) {
        var option = this.id == "from" ? "minDate" : "maxDate",
          instance = $( this ).data( "datepicker" ),
          date = $.datepicker.parseDate(
            instance.settings.dateFormat ||
            $.datepicker._defaults.dateFormat,
            selectedDate, instance.settings );
          dates.not( this ).datepicker( "option", option, date );
        }
      });
    });

  - form_tag :controller => 'board', :action => 'range_task' do
    = t 'global.from'
    = text_field_tag 'from', '', {:size=>10, :class => 'validate[required]'}
    = t 'global.to'
    = text_field_tag 'to', '', {:size=>10, :class => 'validate[required]'}
    = submit_tag t('global.show')
/
  :javascript
    $(function() {
      $('#tip').tipsy({gravity: 's'});
    });

:javascript
  $(function() {
    $("tr").hover(
    function () {
      var detail = $(this).find('#task_operate');
      detail.show();
    }
    );
    $("tr").mouseleave(
    function () {
      var detail = $(this).find('#task_operate');
      detail.hide();
    }
    );
  });
/
  #wide
    .bordershape
      = convert_shop_type('taobao')
      = '-' + t('task.normal_task')
      \|
      = convert_shop_type('v_taobao')
      = '-' + t('task.virtual_task')
      \|
      = image_tag('view.png')
      = '-' + t('global.show')
      \|
      = image_tag('do.png')
      = '-' + t('task.do')
      \|
      = image_tag('price.png')
      = '-' + t('task.price')
      \|
      = image_tag('pay.png')
      = '-' + t('task.pay')
      \|
      = image_tag('truck.png')
      = '-' + t('task.transport')
      \|
      = image_tag('finish.png')
      = '-' + t('task.finish')
      \|
      = image_tag('yes.png')
      = '-' + t('task.confirm')
      \|
      = image_tag('quest.png')
      = '-' + t('task.send_problem')
#wide
  .bordershape
    = link_to new_task_url do
      = image_tag('add.png')
      = t('site.new_task') 
    = link_to '/m/charge' do
      = image_tag('add.png')
      = t('trade.charge_payment') 
    - if user_signed_in?
      |
      = image_tag 'todo.png'
      = link_to t('site.todo_num')+current_user.status_todos('running').length.to_s, :controller=>'board', :action=>'status_todo', :task_status=>'running'
      = link_to t('task.w_cash')+current_user.status_todos('price').length.to_s, :controller=>'board', :action=>'status_todo', :task_status=>'price'
      = link_to t('task.w_finish')+current_user.status_todos('transport').length.to_s, :controller=>'board', :action=>'status_todo', :task_status=>'transport'
      |
      = image_tag 'tasks.png'
      = link_to t('site.task_num')+current_user.status_tasks('published').length.to_s, :controller=>'board', :action=>'status_task', :task_status=>'published'
      = link_to t('task.w_price')+current_user.status_tasks('running').length.to_s, :controller=>'board', :action=>'status_task', :task_status=>'running'
      = link_to t('task.w_transport')+current_user.status_tasks('cash').length.to_s, :controller=>'board', :action=>'status_task', :task_status=>'cash'
      = link_to t('task.w_end')+current_user.status_tasks('finished').length.to_s, :controller=>'board', :action=>'status_task', :task_status=>'finished'
#wide
  .main
    %p{:title => t('task.demo'), :class=>'blue'}
      = image_tag('do.png')
      = '1.' + t('task.worker') + t('task.do')
      = image_tag('price.png')
      = '2.' + t('task.owner') + t('task.price')
      = image_tag('pay.png')
      = '3.' + t('task.worker') + t('task.pay')
      = image_tag('truck.png')
      = '4.' + t('task.owner') + t('task.transport')
      = image_tag('finish.png')
      = '5.' + t('task.worker') + t('task.finish')
      = image_tag('yes.png')
      = '6.' + t('task.owner') + t('task.confirm')
      %br
      %br
      = t 'task.p1'
      %br
      = t 'task.p2'
      %br
      = t 'task.p3'
      %br
      = t 'task.p4'
      %br
      = t 'task.p5'
      %br
      %br
      = t 'task.p6'

#wide
  - if admin? or manager? or session[:view_task] == 'manage'
    %table
      /{:id=>'data_table', :class=>'tablesorter'}
      %caption
        /=t('site.task')
      %thead
        %tr
          %th
          %th=t 'site.task_name'
          %th=t 'global.price' 
          %th=t 'task.point'
          %th=t 'task.owner'
          %th=t 'task.worker'
          %th=t 'global.status'
          %th=t 'formtastic.labels.task.published_time'
          %th=t 'global.operation'

      %tbody
        - @tasks.each do |task|
          - c = cycle("even", "odd")
          %tr{:class=>'double'}
            %td= task.id
            %td
              = convert_shop_type(task.task_type)
              = task.title.length > 15 ? task.title[0, 15] + "..." : task.title
              %div{:id=>'task_operate',:style=>'display:none'}
                = link_to image_tag('view.png'), task, {:id=>'tip', :title=>t('global.show')}
                - if task.can_modify?
                  = link_to image_tag('edit.png'), edit_task_url(task), {:id=>'tip', :title=>t('global.edit')}
                  = link_to image_tag('delete.png'), task, {:confirm => t('site.are_you_sure'), :method => :delete, :id=>'tip', :title=>t('global.delete')}
            %td= task.price
            %td= task.point
            %td= link_to task.user.username, task.user unless task.user.nil?
            %td
              = link_to task.worker.username, task.worker unless task.worker.nil?
              - if task.participant
                = link_to "(#{task.worker_part_name})", task.participant
              - else
                = "(#{task.worker_part_name})" unless task.worker.nil?
            %td
              = task.local_status
              /
                - if task.transport_time and task.transport?
                  - day = 0
                  - if Time.now.month - task.transport_time.month != 0
                    - day = Time.now.day + task.transport_time.end_of_month.day - task.transport_time.day
                  - else
                    - day = Time.now.day - task.transport_time.day
                  - if task.task_day - day >= 0
                    = t 'task.finish_left', :day=>"#{task.task_day - day}"
                  - else
                    = t 'task.overdue', :day=>"#{day - task.task_day}"
            %td
              - if (Date.today - task.published_time.to_date).to_i > 3
                = l task.published_time, :format => :short
              - else
                = (distance_of_time_in_words task.published_time, Time.now) + t('global.before')
            %td
              = link_to image_tag('do.png')+t('task.do'), {:controller=>'board', :action=>'do_task', :id=>task}, {:confirm => t('task.q_do'), :id=>'tip',:title=>t('task.do'), :class=>'operate'} if task.can_takeover?
              - if task.user == current_user
                = link_to image_tag('price.png')+t('task.price'), {:controller=>'board', :action=>'price_task', :id=>task}, {:confirm => t('task.q_price'), :id=>'tip',:title=>t('task.price'), :class=>'operate'} if task.can_pricing?
                = link_to image_tag('truck.png')+t('task.transport'), {:controller=>'board', :action=>'send_good', :id=>task}, {:confirm => t('task.q_transport'), :id => 'tip', :title=>t('task.transport'), :class=>'operate'} if task.can_trans?
                = link_to image_tag('yes.png')+t('task.confirm'), {:controller=>'board', :action=>'confirm_task', :id=>task}, {:confirm => t('task.q_confirm'), :id => 'tip', :title=>t('task.confirm'), :class=>'operate'} if task.can_over?
              - if task.worker == current_user
                = link_to image_tag('pay.png')+t('task.pay'), {:controller=>'board', :action=>'pay_task', :id=>task}, {:confirm => t('task.q_pay'), :id=>'tip',:title=>t('task.pay'), :class=>'operate'} if task.can_pay?
                = link_to image_tag('finish.png')+t('task.finish'), {:controller=>'board', :action=>'finish_task', :id=>task}, {:confirm => t('task.q_finish'), :id=>'tip',:title=>t('task.finish'), :class=>'operate'} if task.can_finish?
              - if task.user == current_user or task.worker == current_user
                = link_to image_tag('quest.png', :alt=>t('task.send_problem')), {:controller=>'board', :action=>'argue_task', :id=>task}, {:confirm => t('task.q_argue'), :id=>'tip',:title=>t('task.send_problem'), :class=>'operate'} if task.can_argue?
          %tr
            %td
            %td{:colspan=>7}
              #task_detail
                /{:style=>'display:none'}
                - if task.worker_level > 0
                  =t 'task.level'
                  = task.worker_level

                /
                  =t 'task.work_day'
                  = task.task_day

                - if task.avoid_day > 0
                  =t 'formtastic.labels.task.avoid_day'
                  = task.avoid_day
                - if task.custom_judge
                  =t 'task.extra'
                - if task.custom_msg
                  =t 'formtastic.labels.task.custom_msg'
      %tfoot
        %tr
          %th{:colspan=>11}
            = will_paginate @tasks

  - else 
    %table
      /{:id=>'data_table', :class=>'tablesorter'}
      %caption
        /=t('site.task')
      %thead
        %tr
          %th=t 'global.title'
          %th=t 'global.price' 
          %th=t 'task.point'
          %th=t 'task.owner'
          %th=t 'global.status'
          %th=t 'formtastic.labels.task.published_time'
          %th=t 'global.operation'
      %tbody
        - @tasks.each do |task|
          - c = cycle("even", "odd")
          %tr{:class=>'double'}
            %td
              = convert_shop_type(task.task_type)
              = task.title.length > 15 ? task.title[0, 15] + "..." : task.title
              - if task.user == current_user
                %div{:id=>'task_operate',:style=>'display:none'}
                  = link_to image_tag('view.png'), task, {:id=>'tip', :title=>t('global.show')}
                  - if task.can_modify?
                    = link_to image_tag('edit.png'), edit_task_url(task), {:id=>'tip', :title=>t('global.edit')}
                    = link_to image_tag('delete.png'), task, {:confirm => t('site.are_you_sure'), :method => :delete, :id=>'tip', :title=>t('global.delete')}
            %td= task.price
            %td= task.point
            %td
              = task.user.username
              = image_tag "icon_vip#{(task.user.level)}.gif"
            %td
              = task.local_status
              - if task.transport_time and task.transport? and (task.user == current_user or task.worker == current_user)
                /
                  - if Time.now.month - task.transport_time.month != 0
                    - day = Time.now.day + task.transport_time.end_of_month.day - task.transport_time.day
                  - else
                    - day = Time.now.day - task.transport_time.day
                  - if task.task_day - day >= 0
                    = t 'task.finish_left', :day=>"#{task.task_day - day}"
                  - else
                    = t 'task.overdue', :day=>"#{day - task.task_day}"
            %td
              - if (Date.today - task.published_time.to_date).to_i > 3
                = l task.published_time, :format => :short
              - else
                = (distance_of_time_in_words task.published_time, Time.now) + t('global.before')
            %td
              = link_to image_tag('do.png')+t('task.do'), {:controller=>'board', :action=>'do_task', :id=>task}, {:confirm => t('task.q_do'), :id=>'tip',:title=>t('task.do'), :class=>'operate'} if task.can_takeover?
              - if task.user == current_user
                = link_to image_tag('price.png')+t('task.price'), {:controller=>'board', :action=>'price_task', :id=>task}, {:confirm => t('task.q_price'), :id=>'tip',:title=>t('task.price'), :class=>'operate'} if task.can_pricing?
                = link_to image_tag('truck.png')+t('task.transport'), {:controller=>'board', :action=>'send_good', :id=>task}, {:confirm => t('task.q_transport'), :id => 'tip', :title=>t('task.transport'), :class=>'operate'} if task.can_trans?
                = link_to image_tag('yes.png')+t('task.confirm'), {:controller=>'board', :action=>'confirm_task', :id=>task}, {:confirm => t('task.q_confirm'), :id => 'tip', :title=>t('task.confirm'), :class=>'operate'} if task.can_over?
              - if task.worker == current_user
                = link_to image_tag('pay.png')+t('task.pay'), {:controller=>'board', :action=>'pay_task', :id=>task}, {:confirm => t('task.q_pay'), :id=>'tip',:title=>t('task.pay'), :class=>'operate'} if task.can_pay?
                = link_to image_tag('finish.png')+t('task.finish'), {:controller=>'board', :action=>'finish_task', :id=>task}, {:confirm => t('task.q_finish'), :id=>'tip',:title=>t('task.finish'), :class=>'operate'} if task.can_finish?
              - if task.user == current_user or task.worker == current_user
                = link_to image_tag('quest.png', :alt=>t('task.send_problem')), {:controller=>'board', :action=>'argue_task', :id=>task}, {:confirm => t('task.q_argue'), :id=>'tip',:title=>t('task.send_problem'), :class=>'operate'} if task.can_argue?
          %tr
            %td{:colspan=>7}
              #task_detail
                /{:style=>'display:none'}
                - if task.worker_level > 0
                  =t 'task.level'
                  = task.worker_level

                /
                  =t 'task.work_day'
                  = task.task_day

                - if task.avoid_day > 0
                  =t 'formtastic.labels.task.avoid_day'
                  = task.avoid_day
                - if task.custom_judge
                  =t 'task.extra'
                - if task.custom_msg
                  =t 'formtastic.labels.task.custom_msg'
      %tfoot
        %tr
          %th{:colspan=>9}
            = will_paginate @tasks


