- if admin? and session[:view_task] == 'payment'
  :javascript
    $(function() {
    var dates = $( "#from, #to" ).datepicker({
      defaultDate: "+1w",
      changeMonth: true,
      numberOfMonths: 2,
      dateFormat: "yy/mm/dd",
      onSelect: function( selectedDate ) {
        var option = this.id == "from" ? "minDate" : "maxDate",
          instance = $( this ).data( "datepicker" ),
          date = $.datepicker.parseDate(
            instance.settings.dateFormat ||
            $.datepicker._defaults.dateFormat,
            selectedDate, instance.settings );
          dates.not( this ).datepicker( "option", option, date );
        }
      });
    });
  - form_tag :controller => 'board', :action => 'range_task' do
    = t 'global.from'
    = text_field_tag 'from', '', {:size=>10, :class => 'validate[required]'}
    = t 'global.to'
    = text_field_tag 'to', '', {:size=>10, :class => 'validate[required]'}
    = submit_tag t('global.show')
.bordershape
  = convert_shop_type('taobao')
  = '-' + t('task.normal_task')
  \|
  = convert_shop_type('v_taobao')
  = '-' + t('task.virtual_task')
  \|
  = image_tag('view.png')
  = '-' + t('global.show')
  \|
  = image_tag('do.png')
  = '-' + t('task.do')
  \|
  = image_tag('truck.png')
  = '-' + t('task.transport')
- if admin? or manager? or session[:view_task] == 'manage'
  %table
    %caption
      /=t('site.task')
    %thead
      %tr
        %th #
        %th{:width=>'20%'}=t 'global.title'
        %th=t 'global.type'
        %th=t 'global.price' 
        %th=t 'task.point'
        %th=t 'task.owner'
        %th=t 'task.worker'
        %th=t 'global.status'
        %th=t 'task.level'
        %th=t 'task.work_day'
        %th=t 'task.extra'
        %th=t 'formtastic.labels.task.published_time'
        %th=t 'global.operation'

    - @tasks.each do |task|
      - c = cycle("even", "odd")
      %tr{:class=>c}
        %td= task.id
        %td= task.title.length > 10 ? task.title[0, 10] + "..." : task.title
        %td
          = convert_shop_type(task.task_type)
        %td= task.price
        %td= task.point
        %td= link_to task.user.username, task.user unless task.user.nil?
        %td= link_to task.worker.username, task.worker unless task.worker.nil?
        %td= task.local_status
        %td= task.worker_level
        %td= task.task_day
        %td= convert_yes_no(task.custom_judge)
        %td= (distance_of_time_in_words task.published_time, Time.now) + t('global.before')
        %td
          = link_to image_tag('view.png'), task
          - if task.can_modify? and task.user == current_user
            = link_to image_tag('edit.png'), edit_task_url(task)
            = link_to image_tag('delete.png'), task, :confirm => 'Are you sure?', :method => :delete
          - if task.user == current_user
            = link_to image_tag('truck.png', :alt=>t('task.transport')), :controller=>'board', :action=>'send_good', :id=>task if task.can_trans?
            = link_to t('task.confirm'), :controller=>'board', :action=>'confirm_task', :id=>task if task.can_over?
          - else
            = link_to image_tag('do.png',:alt=>t('task.do')), :controller=>'board', :action=>'do_task', :id=>task if task.can_takeover?
            = link_to t('task.pay'), :controller=>'board', :action=>'pay_task', :id=>task if task.can_pay?
            = link_to t('task.finish'), :controller=>'board', :action=>'finish_task', :id=>task if task.can_finish? and task.worker == current_user

          - if task.user == current_user or task.worker == current_user
            = link_to t('task.send_problem'), :controller=>'board', :action=>'argue_task', :id=>task if task.can_argue?

    = will_paginate @tasks
- else 
  %table
    %caption
      /=t('site.task')
    %thead
      %tr
        %th=t 'task.owner'
        %th{:width=>'20%'}=t 'global.title'
        %th=t 'global.type'
        %th=t 'global.price' 
        %th=t 'task.point'
        %th=t 'task.requirement'
        %th=t 'formtastic.labels.task.published_time'
        %th=t 'global.operation'

    - @tasks.each do |task|
      - c = cycle("even", "odd")
      %tr{:class=>c}
        %td
          = task.user.username
          = image_tag "icon_vip#{(task.user.level)}.gif"
        %td= task.title.length > 10 ? task.title[0, 15] + "..." : task.title
        %td
          = convert_shop_type(task.task_type)
        %td= task.price
        %td= task.point
        %td
          = t('task.work_day') + task.task_day.to_s + t('global.day')
          = t('task.level') + task.worker_level.to_s
          = t('task.extra') if task.custom_judge
        %td= (distance_of_time_in_words task.published_time, Time.now) + t('global.before')
        %td
          = link_to image_tag('view.png'), task if task.can_view?(current_user)
          - if task.can_modify? and task.user == current_user
            = link_to image_tag('edit.png'), edit_task_url(task)
            = link_to image_tag('delete.png'), task, :confirm => 'Are you sure?', :method => :delete
          - if task.user == current_user
            = link_to image_tag('truck.png', :alt=>t('task.transport')), :controller=>'board', :action=>'send_good', :id=>task if task.can_trans?
            = link_to t('task.confirm'), :controller=>'board', :action=>'confirm_task', :id=>task if task.can_over?
          - else
            = link_to image_tag('do.png',:alt=>t('task.do')), :controller=>'board', :action=>'do_task', :id=>task if task.can_takeover?
            = link_to t('task.pay'), :controller=>'board', :action=>'pay_task', :id=>task if task.can_pay?
            = link_to t('task.finish'), :controller=>'board', :action=>'finish_task', :id=>task if task.can_finish? and task.worker == current_user

          - if task.user == current_user or task.worker == current_user
            = link_to t('task.send_problem'), :controller=>'board', :action=>'argue_task', :id=>task if task.can_argue?

  = will_paginate @tasks
