- if admin? and session[:view_task] == 'payment'
  :javascript
    $(function() {
    var dates = $( "#from, #to" ).datepicker({
      defaultDate: "+1w",
      changeMonth: true,
      numberOfMonths: 2,
      dateFormat: "yy/mm/dd",
      onSelect: function( selectedDate ) {
        var option = this.id == "from" ? "minDate" : "maxDate",
          instance = $( this ).data( "datepicker" ),
          date = $.datepicker.parseDate(
            instance.settings.dateFormat ||
            $.datepicker._defaults.dateFormat,
            selectedDate, instance.settings );
          dates.not( this ).datepicker( "option", option, date );
        }
      });
    });

  - form_tag :controller => 'board', :action => 'range_task' do
    = t 'global.from'
    = text_field_tag 'from', '', {:size=>10, :class => 'validate[required]'}
    = t 'global.to'
    = text_field_tag 'to', '', {:size=>10, :class => 'validate[required]'}
    = submit_tag t('global.show')
/
  :javascript
    $(function() {
      $('#tip').tipsy({gravity: 's'});
    });
.bordershape
  = convert_shop_type('taobao')
  = '-' + t('task.normal_task')
  \|
  = convert_shop_type('v_taobao')
  = '-' + t('task.virtual_task')
  \|
  = image_tag('view.png')
  = '-' + t('global.show')
  \|
  = image_tag('do.png')
  = '-' + t('task.do')
  \|
  = image_tag('price.png')
  = '-' + t('task.price')
  \|
  = image_tag('pay.png')
  = '-' + t('task.pay')
  \|
  = image_tag('truck.png')
  = '-' + t('task.transport')
  \|
  = image_tag('finish.png')
  = '-' + t('task.finish')
  \|
  = image_tag('yes.png')
  = '-' + t('task.confirm')
  \|
  = image_tag('quest.png')
  = '-' + t('task.send_problem')
#wide
  .main
    %p{:title => t('task.demo'), :class=>'blue'}
      = image_tag('do.png')
      = '1.' + t('task.worker') + t('task.do')
      = image_tag('price.png')
      = '2.' + t('task.owner') + t('task.price')
      = image_tag('pay.png')
      = '3.' + t('task.worker') + t('task.pay')
      = image_tag('truck.png')
      = '4.' + t('task.owner') + t('task.transport')
      = image_tag('finish.png')
      = '5.' + t('task.worker') + t('task.finish')
      = image_tag('yes.png')
      = '6.' + t('task.owner') + t('task.confirm')
      %br
      %br
      = t 'task.p1'
      %br
      = t 'task.p2'
      %br
      = t 'task.p3'
      %br
      = t 'task.p4'
      %br
      = t 'task.p5'
      %br
      %br
      = t 'task.p6'

- if admin? or manager? or session[:view_task] == 'manage'
  %table
    %caption
      /=t('site.task')
    %thead
      %tr
        %th #
        %th{:width=>'20%'}=t 'global.title'
        %th=t 'global.type'
        %th=t 'global.price' 
        %th=t 'task.point'
        %th=t 'task.owner'
        %th=t 'task.worker'
        %th=t 'global.status'
        %th=t 'task.level'
        %th=t 'task.work_day'
        %th=t 'task.extra'
        %th=t 'formtastic.labels.task.avoid_day'
        %th=t 'formtastic.labels.task.published_time'
        %th=t 'global.operation'

    - @tasks.each do |task|
      - c = cycle("even", "odd")
      %tr{:class=>c}
        %td= task.id
        %td= task.title.length > 10 ? task.title[0, 10] + "..." : task.title
        %td
          = convert_shop_type(task.task_type)
        %td= task.price
        %td= task.point
        %td= link_to task.user.username, task.user unless task.user.nil?
        %td= link_to task.worker.username, task.worker unless task.worker.nil?
        %td= task.local_status
        %td= task.worker_level
        %td
          = task.task_day 
          = t 'task.finish_left', :day=>"#{task.task_day - (Time.now.day - task.transport_time.day)}" if task.transport_time and task.transport?
        %td= convert_yes_no(task.custom_judge)
        %td= task.avoid_day
        %td= (distance_of_time_in_words task.published_time, Time.now) + t('global.before')
        %td
          - if task.user == current_user
            - if task.can_modify?
              = link_to image_tag('edit.png'), edit_task_url(task), {:id=>'tip', :title=>t('global.edit')}
              = link_to image_tag('delete.png'), task, {:confirm => t('site.are_you_sure'), :method => :delete, :id=>'tip', :title=>t('global.delete')}
            = link_to image_tag('price.png',:alt=>t('task.price')), {:controller=>'board', :action=>'price_task', :id=>task}, {:confirm => t('task.q_price'), :id=>'tip',:title=>t('task.price')} if task.can_pricing?
            = link_to image_tag('truck.png', :alt=>t('task.transport')), {:controller=>'board', :action=>'send_good', :id=>task}, {:confirm => t('task.q_transport'), :id => 'tip', :title=>t('task.transport')} if task.can_trans?
            = link_to image_tag('yes.png', :alt=>t('task.confirm')), {:controller=>'board', :action=>'confirm_task', :id=>task}, {:confirm => t('task.q_confirm'), :id => 'tip', :title=>t('task.confirm')} if task.can_over?
          - if task.worker == current_user
            = link_to image_tag('do.png',:alt=>t('task.do')), {:controller=>'board', :action=>'do_task', :id=>task}, {:confirm => t('task.q_do'), :id=>'tip',:title=>t('task.do')} if task.can_takeover?
            = link_to image_tag('pay.png', :alt=>t('task.pay')), {:controller=>'board', :action=>'pay_task', :id=>task}, {:confirm => t('task.q_pay'), :id=>'tip',:title=>t('task.pay')} if task.can_pay?
            = link_to image_tag('finish.png', :alt=>t('task.finish')), {:controller=>'board', :action=>'finish_task', :id=>task}, {:confirm => t('task.q_finish'), :id=>'tip',:title=>t('task.finish')} if task.can_finish?

          - if task.user == current_user or task.worker == current_user
            = link_to image_tag('view.png'), task, {:id=>'tip', :title=>t('global.show')}
            = link_to image_tag('quest.png', :alt=>t('task.send_problem')), {:controller=>'board', :action=>'argue_task', :id=>task}, {:confirm => t('task.q_argue'), :id=>'tip',:title=>t('task.send_problem')} if task.can_argue?

  = will_paginate @tasks
- else 
  %table
    %caption
      /=t('site.task')
    %thead
      %tr
        %th=t 'task.owner'
        %th{:width=>'20%'}=t 'global.title'
        %th=t 'global.type'
        %th=t 'global.price' 
        %th=t 'task.point'
        %th=t 'task.requirement'
        %th=t 'formtastic.labels.task.published_time'
        %th=t 'global.operation'

    - @tasks.each do |task|
      - c = cycle("even", "odd")
      %tr{:class=>c}
        %td
          = task.user.username
          = image_tag "icon_vip#{(task.user.level)}.gif"
        %td= task.title.length > 10 ? task.title[0, 15] + "..." : task.title
        %td
          = convert_shop_type(task.task_type)
        %td= task.price
        %td= task.point
        %td
          = t('task.work_day') + task.task_day.to_s + t('global.day')
          = t('task.level') + task.worker_level.to_s
          = t('task.extra') if task.custom_judge
        %td= (distance_of_time_in_words task.published_time, Time.now) + t('global.before')
        %td
          - if task.user == current_user
            - if task.can_modify?
              = link_to image_tag('edit.png'), edit_task_url(task), {:id=>'tip', :title=>t('global.edit')}
              = link_to image_tag('delete.png'), task, {:confirm => t('site.are_you_sure'), :method => :delete, :id=>'tip', :title=>t('global.delete')}
            = link_to image_tag('price.png',:alt=>t('task.price')), {:controller=>'board', :action=>'price_task', :id=>task}, {:confirm => t('task.q_price'), :id=>'tip',:title=>t('task.price')} if task.can_pricing?
            = link_to image_tag('truck.png', :alt=>t('task.transport')), {:controller=>'board', :action=>'send_good', :id=>task}, {:confirm => t('task.q_transport'), :id => 'tip', :title=>t('task.transport')} if task.can_trans?
            = link_to image_tag('yes.png', :alt=>t('task.confirm')), {:controller=>'board', :action=>'confirm_task', :id=>task}, {:confirm => t('task.q_confirm'), :id => 'tip', :title=>t('task.confirm')} if task.can_over?
          - if task.worker == current_user
            = link_to image_tag('do.png',:alt=>t('task.do')), {:controller=>'board', :action=>'do_task', :id=>task}, {:confirm => t('task.q_do'), :id=>'tip',:title=>t('task.do')} if task.can_takeover?
            = link_to image_tag('pay.png', :alt=>t('task.pay')), {:controller=>'board', :action=>'pay_task', :id=>task}, {:confirm => t('task.q_pay'), :id=>'tip',:title=>t('task.pay')} if task.can_pay?
            = link_to image_tag('finish.png', :alt=>t('task.finish')), {:controller=>'board', :action=>'finish_task', :id=>task}, {:confirm => t('task.q_finish'), :id=>'tip',:title=>t('task.finish')} if task.can_finish?

          - if task.user == current_user or task.worker == current_user
            = link_to image_tag('view.png'), task, {:id=>'tip', :title=>t('global.show')}
            = link_to image_tag('quest.png', :alt=>t('task.send_problem')), {:controller=>'board', :action=>'argue_task', :id=>task}, {:confirm => t('task.q_argue'), :id=>'tip',:title=>t('task.send_problem')} if task.can_argue?

  = will_paginate @tasks


