#roundshape
  - if @task.can_modify? and @task.user == current_user
    = link_to t('global.edit'), edit_task_path(@task) |
  = link_to t('global.back'), tasks_path

#roundshape
  %p
    %b=t 'global.title'
    = @task.title

  %p
    %b=t 'global.type'
    = @task.task_type

  %p
    %b=t 'global.description' 
    = @task.description

  %p
    %b=t 'global.status'
    = @task.status

  %p
    %b=t 'global.links' 
    = @task.link

  %p
    %b=t 'global.price' 
    = @task.price

  %p
    %b=t 'task.point' 
    = @task.point

  %p
    %b= t 'formtastic.labels.task.transport'
    - unless @task.transport.nil? or @task.transport == ''
      - tran = %w{圆通 申通 中通 韵达 顺丰 EMS} 
      - abb = %w{ yt st zt yd sf ems }
      = tran[abb.index(@task.transport)]

  %p
    %b= t 'formtastic.labels.task.transport_id'
    = @task.transport_id

  %hr
  %p
    %b=t 'task.condition'

  = t 'formtastic.labels.task.worker_level'
  = @task.worker_level
  %br
  = t 'formtastic.labels.task.task_day'
  = @task.task_day
  %br
  = t 'formtastic.labels.task.extra_word'
  = @task.extra_word
  %br
  = t 'formtastic.labels.task.avoid_day'
  = @task.avoid_day
  /
    %br
    = t 'formtastic.labels.task.task_level'
    =# @task.task_level
  %hr
  = t 'formtastic.labels.task.extra_word'
  = @task.extra_word
  %hr
  = t 'formtastic.labels.task.custom_judge'
  = @task.custom_judge
  %hr
  = t 'formtastic.labels.task.custom_judge_content'
  = @task.custom_judge_content
  %hr

#roundshape
  = t 'formtastic.labels.task.published_time'
  = @task.published_time
  %br
  = t 'formtastic.labels.task.takeover_time'
  = @task.takeover_time
  %br
  = t 'formtastic.labels.task.finished_time'
  = @task.finished_time
  %br
  = t 'formtastic.labels.task.confirmed_time'
  = @task.confirmed_time
