#roundshape
  - if @task.can_modify? and @task.user == current_user
    = link_to t('global.edit'), edit_task_path(@task) |
  = link_to t('global.back'), :back

#mainframe
  .bordershape
    %p
      %b=t 'global.title'
      = @task.title

    %p
      %b=t 'global.type'
      = convert_shop_type(@task.task_type)

    %p
      %b=t 'global.status'
      = @task.local_status

    - if current_user or manager? or admin?
      %p
        %b=t 'participant.shop' 
        = @task.shop

    %p
      %b=t 'global.links' 
      = @task.link

    %p
      %b=t 'global.price' 
      = @task.price

    %p
      %b=t 'task.point' 
      = @task.point

    %p
      %b= t 'formtastic.labels.task.tran_type'
      = convert_tran_type(@task.tran_type)

    %p
      %b= t 'formtastic.labels.task.tran_id'
      = @task.tran_id

  .bordershape
    %p
      %b=t 'task.condition'
    %hr
    = t 'formtastic.labels.task.worker_level'
    = @task.worker_level
    %br
    = t 'formtastic.labels.task.task_day'
    = @task.task_day
    %br
    = t 'formtastic.labels.task.avoid_day'
    = @task.avoid_day
    /
      %br
      = t 'formtastic.labels.task.task_level'
      =# @task.task_level
      %br
      = t 'formtastic.labels.task.extra_word'
      = @task.extra_word
    %br
    = t 'formtastic.labels.task.custom_judge'
    = convert_yes_no(@task.custom_judge)
    %br
    = t 'formtastic.labels.task.custom_judge_content'
    = @task.custom_judge_content

#right
  .bordershape
    = t 'task.owner'
    = @task.user.username
    %br
    - if @task.user.im_q
      = link_to "tencent://message/?uin=#{@task.user.im_q}&Site=&Menu=yes", :target=>'_black' do
        = "QQ:#{@task.user.im_q}"
        = image_tag("http://wpa.qq.com/pa?p=1:#{@task.user.im_q}:4", :alt=>'点击这里给我发消息')
    %hr
    = t 'task.worker'
    - if manager? or admin?
      = link_to @task.worker.username, @task.worker if @task.worker
    %br
    = t 'site.my_participants'
    - if @task.worker_part_name
      = link_to "http://amos1.taobao.com/msg.ww?v=2&uid=#{@task.worker_part_name}&s=1", :target=>'_black' do
        = @task.worker_part_name
        = image_tag("http://amos1.taobao.com/online.ww?v=2&uid=#{@task.worker_part_name}&s=1", :alt=>'点击这里给我发消息')
      %br
    - if @task.worker
      - if @task.worker.im_q
        = link_to "tencent://message/?uin=#{@task.worker.im_q}&Site=&Menu=yes", :target=>'_black' do
          = "QQ:#{@task.worker.im_q}"
          = image_tag("http://wpa.qq.com/pa?p=1:#{@task.worker.im_q}:4", :alt=>'点击这里给我发消息')

    %hr
    = t 'formtastic.labels.task.published_time'
    = l @task.published_time if @task.published_time
    %br
    = t 'formtastic.labels.task.takeover_time'
    = l @task.takeover_time if @task.takeover_time
    %br
    = t 'formtastic.labels.task.pay_time'
    = l @task.pay_time if @task.pay_time
    %br
    = t 'formtastic.labels.task.transport_time'
    = l @task.transport_time if @task.transport_time
    %br
    = t 'formtastic.labels.task.finished_time'
    = l @task.finished_time if @task.finished_time
    %br
    = t 'formtastic.labels.task.confirmed_time'
    = l @task.confirmed_time if @task.confirmed_time

#mainframe
