- if admin?
  = link_to t('global.edit'), edit_article_path(@article)
  |
= link_to t('global.back'), articles_path

%p
  %h3
    = @article.title
%hr
%p
  = raw @article.content
/
  %p
    %b= t 'formtastic.labels.article.article_type'
    = @article.article_type
