- semantic_form_for @participant do |f| 
  - f.inputs do
    = f.input :role_type, :collection => { t('participant.shop') => 'shop', t('participant.customer') => 'customer' }
    = f.input :part_type, :collection => { t('participant.taobao') => 'taobao', t('participant.paipai') => 'paipai', t('participant.youa') => 'youa'}
    = f.input :name
    = f.input :part_id
    = f.input :url
    = f.input :active, :as => :boolean
    = f.commit_button
