:javascript
  $(function() {
    $("#participant_role_type").val('');
    $("#participant_role_type").change(function() {
      if(this.value=='customer') {
        $("#participant_url_input").hide('fast');
      }
      else {
        $("#participant_url_input").show('fast');
      }
    });
  });
- semantic_form_for @participant do |f| 
  - f.inputs do
    - if session[:operate_mode] != 'edit'
      = f.input :role_type, :collection => { t('participant.shop') => 'shop', t('participant.customer') => 'customer' }, :input_html => { :class => "validate[required]" }
      = f.input :part_type, :collection => { t('participant.taobao') => 'taobao', t('participant.paipai') => 'paipai', t('participant.youa') => 'youa'}, :input_html => { :class => "validate[required]" }
      = f.input :part_id, :input_html => { :class => "validate[required],custom[normalName],minSize[3]" }
      = f.input :url, :input_html => { :size=>60, :class => "validate[custom[url]]" }
    - else
      %li
        = label_tag t('formtastic.labels.participant.role_type')
        = @participant.role_type
      %li
        = label_tag t('formtastic.labels.participant.part_type')
        = @participant.part_type
      %li
        = label_tag t('formtastic.labels.participant.part_id')
        = @participant.part_id
      %li
        = label_tag t('formtastic.labels.participant.url')
        = @participant.url
    = f.input :description
    = f.input :active, :as => :boolean
    = f.commit_button
