.bordershape
  = image_tag('point.png')
  = '-' + t('account.point')
  \|
  = image_tag('password.png')
  = '-' + t('site.password')
  \|
  = image_tag('role.png')
  = '-' + t('account.role')
  \|
  = image_tag('score.png')
  = '-' + t('account.score')
  \|
  = image_tag('lock.png')
  = '-' + t('formtastic.labels.user.operate_password')
  \|
  = image_tag('view.png')
  = '-' + t('global.show')
  \|
  = image_tag('edit.png')
  = '-' + t('global.edit')
  \|
  = image_tag('delete.png')
  = '-' + t('global.delete')
%table
  %caption
    /= t('site.user_manage')
    - form_tag :controller => 'board', :action => 'search_user' do
      = label_tag t 'site.login_name'
      = search_field_tag 'username', session[:search_username]
      = submit_tag 'Search'
  %thead
    %tr
      %th
      %th= t 'site.login_name'
      %th= t 'account.role'
      %th= t 'account.charge_amount' 
      %th= t 'account.point'
      %th= t 'account.score'
      %th= t 'global.status' 
      %th= t 'account.account_manage'
      %th{:colspan=>4}= t 'global.operation'

  - @users.each do |user|
    - c = cycle("even", "odd")
    %tr{:class=>c}
      %td
        =# check_box_tag "users[]", user
      %td= user.username
      %td
        = user.role_objects.collect{|r| r.name}
      %td= user.account_money
      %td= user.account_credit
      %td= user.score
      %td= user.status
      %td
        - if manager?
          = link_to image_tag('point.png', :alt=>t('account.point')), :controller => 'account', :action => 'point', :id => user
          = link_to image_tag('password.png', :alt=>t('site.password')), :controller => 'account', :action => 'password', :id => user
          = link_to image_tag('role.png', :alt=>t('account.role')), :controller => 'account', :action => 'role', :id => user
          = link_to image_tag('score.png', :alt=>t('account.score')), :controller => 'account', :action => 'score', :id => user
          = link_to image_tag('lock.png', :alt=>t('formtastic.labels.user.operate_password')), :controller => 'account', :action => 'operate_password', :id => user
      %td
        = link_to t('account.confirm'), :controller => 'account', :action => 'confirm', :id => user unless user.confirmed?
        = link_to image_tag('view.png', :alt=>t('global.show')), user
        - if super?
          = link_to image_tag('edit.png', :alt=>t('global.edit')), edit_user_path(user)
          = link_to image_tag('delete.png', :alt=>t('global.delete')), user, :confirm => t('site.are_you_sure'), :method => :delete
      %td
        = t('account.not_approved') if user.has_role? 'guest'

= will_paginate @users
