= render :partial => "devise/shared/links"
%h2= t 'site.forgot_password'
#roundshape
  = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
    = devise_error_messages!
    %p
      = t 'page.email'
      %br/
      = f.text_field :email
    %p= f.submit t('site.send_password_reset')
