#wide
  = render :partial => "devise/shared/links"
#sl
  %br
#sm
  .solidshape
    = t 'site.login_tip'
    %br
    = t 'site.login_tip1'
    %br
    = t 'site.login_tip2'
    %br
    = t 'site.login_tip3'
  .bordershape
    = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
      %p
        = t 'site.login_name'
        %br/
        = f.text_field :login
      %p
        = t 'site.password'
        %br/
        = f.password_field :password
      - if devise_mapping.rememberable?
        %p
          = f.check_box :remember_me
          = t 'site.remember_me'
      %p= f.submit t('site.login')
#sr
  %br
