%h3
  = t 'site.adv_title'
%dl
  %dt
    = t 'site.adv1t'
  %dd
    = t 'site.adv1'
  %dt
    = t 'site.adv2t'
  %dd
    = t 'site.adv2'
  %dt
    = t 'site.adv3t'
  %dd
    = t 'site.adv3'
  %dt
    = t 'site.adv5t'
  %dd
    = t 'site.adv5'
