.customer_service
  %h1= t 'site.service_list'
  %ul#customer_service
    - @customers.each do |c|
      - if c.im_q
        %li
          = t('service.service') + ': ' + c.username
          %br
          - if c.im_q
            = link_to "tencent://message/?uin=#{c.im_q}&Site=&Menu=yes", :target=>'_black' do
              = "QQ:#{c.im_q}"
              = image_tag("http://wpa.qq.com/pa?p=1:#{c.im_q}:4", :alt=>'点击这里给我发消息')
