.customer_service
  %h1
    = image_tag('help.png')
    = t 'site.wiki'
  %ul#customer_service
    - @articles.each do |c|
      %li
        = link_to c do
          = c.title
          =# image_tag("http://wpa.qq.com/pa?p=1:#{c.im_q}:4", :alt=>'点击这里给我发消息')
