%table
  %caption
  %thead
    %tr
      %th ID
      %th= t 'site.task_name'
      - if session[:view_log] == 'admin'
        %th UID
        %th= t 'task.owner' 
        %th WID
        %th= t 'task.worker'
      %th= t 'global.price'
      %th= t 'formtastic.labels.task.status'
      %th= t 'formtastic.labels.task.description'
      %th= t 'global.time'

  - @tasks.each do |t|
    - c = cycle("even", "odd")
    %tr{:class=>c}
      - task = Task.where('id = ?', t.task_id).first
      - unless task.nil?
        %td= task.id
        %td= link_to task.title, task
      - else
        %td= t.task_id
        %td
      - if session[:view_log] == 'admin'
        %td= t.user_id
        %td= t.user_name
        %td= t.worker_id
        %td= t.worker_name
      - u = User.find(t.worker_id)
      - if u
        %td= link_to u.username, u
      %td= t.price
      %td= t.status
      %td= t.description
      %td= l t.created_at, :format => :long

= will_paginate @tasks
