%table
  %caption= t 'account.charge'
  %thead
    %tr
      %th=t 'site.login_name'
      %th=t 'global.quantity'
      %th=t 'global.type'
      %th=t 'trade.transaction_id'
      %th=t 'trade.charged_at'
      %th=t 'global.status'
      %th{:colspan=>3}

  - @trades.each do |t|
    - c = cycle("even", "odd")
    %tr{:class=>c}
      %td= t.user.username
      %td= t.price
      %td= trade_type_image(t.trade_type)
      %td= t.transaction_id
      %td= l t.created_at, :format => :long
      %td= t.local_status
      %td= link_to t('global.delete'), :controller => 'account', :action => 'delete_charge', :id => t if t.trade_type == 'charge' and t.request?
      - if (admin? or manager?) and t.request?
        %td
          = link_to t('trade.approve'), :controller=>'account', :action=>'approve_pass', :id=>t.id
        %td
          = link_to t('trade.reject'), :controller=>'account', :action=>'approve_reject', :id=>t.id
= will_paginate @trades
