.container-fluid
  .row-fluid
    .span3
      = render 'users/head'

    .span9
      = render 'account/user'

      %hr

      /
        = t('site.user_manage')
        - form_tag :controller => 'board', :action => 'search_user' do
          = label_tag t 'site.login_name'
          = search_field_tag 'username', session[:search_username]
          = submit_tag 'Search'

      = render 'account/tasklogs'
