%p= t 'devise.hello', :name=> "#{@resource.email}!"
%p= t 'devise.do_change'
%p= link_to t('devise.change_password'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p= t 'devise.not_change'
%p= t 'devise.not_change_desc'
