%table.table.table-striped
  %thead
    %tr
      %th= t 'simple_form.labels.transaction.tid' 
      %th= t 'simple_form.labels.transaction.amount' 
      %th= t 'simple_form.labels.transaction.name' 
      %th= t 'simple_form.labels.transaction.bank' 
      %th= t 'simple_form.labels.transaction.pay_type' 
      - if session[:transaction_mode] != 'sales'
        %th= t 'transaction.owner'
        %th= t 'transaction.sales'
        %th= t 'simple_form.labels.transaction.account_name'
        %th= t 'simple_form.labels.transaction.point'
      %th
        = link_to image_tag('save_01.png')+t('global.export'), '/t/export_transaction', :class=>'btn btn-info'
        = link_to t('global.create'), new_transaction_path, :class=>'btn btn-primary'
  %tbody
    - @transactions.each do |transaction|
      %tr
        %td= transaction.tid
        %td= transaction.amount
        %td= transaction.name
        %td= transaction.bank
        %td= transaction.local_pay_type
        - if session[:transaction_mode] != 'sales'
          %td
            = transaction.user.username if transaction.user
          %td
            = link_to transaction.sales.username, :controller => 'account', :action => 'business', :id => transaction.sales if transaction.sales
          %td
            - user = User.where(:username => transaction.account_name).first
            - if user
              = link_to transaction.account_name, :controller => 'board', :action => 'trans_list', :id => user
            - else
              = transaction.account_name
          %td= transaction.point
        %td
          = link_to image_tag('view.png', :alt=>t('global.show')), transaction
          - if admin?
            = link_to image_tag('edit.png', :alt=>t('global.edit')), edit_transaction_path(transaction)
            = link_to image_tag('delete.png', :alt=>t('global.delete')), transaction, :confirm => t('site.are_you_sure'), :method => :delete
      %tr
        %td{:colspan=>10}
          #task_detail
            = t 'simple_form.labels.transaction.trade_time' 
            = l transaction.trade_time, :format => :short
            = transaction.description

  = will_paginate @transactions
