#roundshape
  = link_to t('global.create'), new_transaction_path
#wide
  .solidshape
    %table
      %tr
        %th 
          = t 'transaction.business'
        %th
          = t 'transaction.transaction_count'
        %th
          = t 'transaction.month_amount'
        %th
          = t 'account.point'
      %tr
        %td= t 'account.charge'
        %td= @charges_num
        %td= @charges_price
        %td= @charges_amount
      %tr
        %td= t 'account.point'
        %td= @points_num
        %td= @points_price
        %td= @points_amount
      %tr
        %td
          = t 'global.total'
        %td
          = @trans.length
        %td
          = @current_amount
        %td
#wide
  - if admin?
    :javascript
      $(function() {
      var dates = $( "#from, #to" ).datepicker({
        defaultDate: "+1w",
        changeMonth: true,
        numberOfMonths: 2,
        dateFormat: "yy/mm/dd",
        onSelect: function( selectedDate ) {
          var option = this.id == "from" ? "minDate" : "maxDate",
            instance = $( this ).data( "datepicker" ),
            date = $.datepicker.parseDate(
              instance.settings.dateFormat ||
              $.datepicker._defaults.dateFormat,
              selectedDate, instance.settings );
            dates.not( this ).datepicker( "option", option, date );
          }
        });
      });
    - form_tag :controller => 'board', :action => 'range_transaction' do
      = t 'global.from'
      = text_field_tag 'from', '', {:size=>10, :class => 'validate[required]'}
      = t 'global.to'
      = text_field_tag 'to', '', {:size=>10, :class => 'validate[required]'}
      = submit_tag t('global.show')
  = render 'transactions/trans'

