<!DOCTYPE html>
%html
  %head 
    %title= t 'site.name' 
    = favicon_link_tag
    = csrf_meta_tag

    = stylesheet_link_tag "application"#, :media => "all"
    = javascript_include_tag "application"
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")

  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          .brand
            = image_tag('logo.png')
            = t 'site.name'
          %ul.nav.pull-right
            - if user_signed_in?
              %li
                = link_to "#" do
                  %span.label.label-info
                    = t('site.welcome', :name => current_user.username)
            %li
              = link_to '/', {:title=>t('site.label')} do
                = image_tag('home.png')
                = t('site.label')
            - if user_signed_in?
              %li
                = link_to notices_path, {:title=>t('site.notice_center')} do
                  = image_tag('info.png')
                  = t('site.notice_center')
                - messages = current_user.message_boxes.where(:status => 'unread').order("created_at DESC")
              - if messages.length > 0
                %li
                  - if messages.length == 1
                    = link_to image_tag('message.png') + messages.length.to_s + t('message.message_tail'), :controller => 'board', :action => 'view_message', :id => messages.first.message
                  - else
                    = link_to image_tag('message.png') + messages.length.to_s + t('message.message_tail'), '/m/message'
              %li
                = link_to edit_user_registration_path do
                  = image_tag('user_info.png')
                  = t('site.profile')
              %li
                = link_to destroy_user_session_path, :method => :delete do
                  = image_tag('logout.png')
                  = t('site.logout')
            - else
              %li
                = link_to new_user_session_path do
                  = image_tag('login.png')
                  = t('site.login')
              %li
                = link_to new_user_registration_path do
                  = image_tag('sign_up.png')
                  = t('site.register')
            %li.dropdown
              %a.dropdown-toggle(data-toggle="dropdown" href="#") 
                = t('site.service_list')
                %b.caret
              %ul.dropdown-menu
                - role = Role.where(:name => 'admin').first
                - ids = role.user_ids.drop(1)
                - @customers = User.where(:id => ids).where('im_q is not null').order("created_at DESC")
                - @customers.each do |u|
                  %li
                    = link_to "tencent://message/?uin=#{u.im_q}&Site=&Menu=yes", :target=>'_black' do
                      = image_tag("http://wpa.qq.com/pa?p=1:#{u.im_q}:4", :alt=>'点击这里给我发消息')
                      = u.username
    /[if IE]
      .alert.alert-error
        = t 'site.ie'
        = link_to t("site.firefox"), "http://firefox.com.cn/"
        = link_to t("site.google"), "http://www.google.cn/chrome"
        = link_to "IE8", "http://www.microsoft.com/downloads/zh-cn/details.aspx?familyid=341c2ad5-8c3d-4347-8c03-08cdecd8852b"

    - flash.each do |name, msg|
      %div(class="alert alert-#{name == :notice ? 'success' : 'error'}")
        %a.close(data-dismiss="alert") ×
        = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)
    - if user_signed_in?
      .subnav.subnav-fixed
        %ul.nav.nav-pills
          - if guest? or user?
            %li
              = link_to new_task_url do
                = image_tag('add.png')
                = t('site.new_task') 
            %li
              = link_to '/m/charge' do
                = image_tag('add.png')
                = t('trade.charge_payment') 
          %li.dropdown
            %a.dropdown-toggle(data-toggle="dropdown" href="#") 
              = t('site.task')
              %b.caret
            %ul.dropdown-menu
              %li
                = link_to t('site.task'), tasks_url
              %hr
              /
                %li
                  = link_to t('site.task_type',:task_type=>'taobao'), :controller=>'board', :action=>'task_list', :task_type => 'taobao'
                %li
                  = link_to t('site.task_type',:task_type=>'paipai'), :controller=>'board', :action=>'task_list', :task_type => 'paipai'
                %li
                  = link_to t('site.task_type',:task_type=>'youa'), :controller=>'board', :action=>'task_list', :task_type => 'youa'
              %li
                = link_to t('site.task_diamond'), tasks_url
              %li
                = link_to t('site.task_favourite'), tasks_url
              %li
                = link_to t('site.task_flow'), tasks_url
              %hr
              - if guest? or user? or manager?
                %li
                  = link_to t('site.my_task'), :controller=>'board', :action=>'task_show', :task_type => 'task'
                %li
                  = link_to t('site.my_todo'), :controller=>'board', :action=> 'task_show', :task_type => 'todo'
                %li
                  = link_to t('site.my_cash'), :controller=>'board', :action=> 'task_show', :task_type => 'cash'
              - if admin?
                %li
                  = link_to t('site.payment_task'), :controller=>'board', :action=> 'task_list', :task_type => 'payment'

          %li.dropdown
            %a.dropdown-toggle(data-toggle="dropdown" href="#")
              = t('site.user_center')
              %b.caret
            %ul.dropdown-menu
              %li
                = link_to t('site.my_account'), current_user
              - if guest? or user?
                %li
                  = link_to t('site.my_participants'), user_participants_url(current_user)
                %li
                  = link_to t('site.operate_password'), "/m/operate_password"
                %hr
                %li
                  = link_to t('site.my_messages'), '/m/message'
                %li
                  = link_to t('site.my_transport'), "/m/transport_list/#{current_user.id}"
              - if salesman?
                %li
                  = link_to t('site.sales_business'), transactions_url

          - if user? or guest?
            %li.dropdown
              %a.dropdown-toggle(data-toggle="dropdown" href="#")
                = t('site.service_center')
                %b.caret
              %ul.dropdown-menu
                %li
                  = link_to t('trade.charge_payment'), '/m/charge'
                %li
                  = link_to t('trade.charge_point'), '/m/payment'
                %li
                  = link_to t('trade.score_point'), '/m/score_point'
                %hr
                %li
                  = link_to t('site.service_list'), '/t/service'
                %li
                  = link_to t('site.service'), issues_path 

          %li
            = link_to t('site.transport_center'), transports_path
          %li
            = link_to t('site.rule'), articles_path

          - if manager? or admin?
            %li.dropdown
              %a.dropdown-toggle(data-toggle="dropdown" href="#")
                = t('site.manage_center')
                %b.caret
              %ul.dropdown-menu
                %li
                  %span.label.label-warning manager
                  %span.label.label-important admin
                %li
                  = link_to t('site.issue'), issues_path
                %li
                  = link_to t('site.tasklog_center'), '/t/tasklogs'
                %li
                  = link_to t('site.accountlog_center'), '/t/accountlogs'
                - if admin?
                  %li
                    %span.label.label-important admin
                  %li
                    = link_to t('site.user_manage'), admin? ? users_path : ''
                  %li
                    = link_to t('site.cash_task'), :controller=>'board', :action=>'task_list', :task_type => 'cash'
                  %li
                    = link_to t('site.big_cash'), '/t/big_cash'
                  %li
                    = link_to t('trade.manage_payment'), '/m/approve/charge'
                  %li
                    = link_to t('trade.manage_point'), '/m/approve/point'
                  %li
                    = link_to t('trade.manage_score'), '/m/approve/score'
                  %li
                    %span.label.label-important admin
                  %li
                    = link_to t('site.finance_center'), transactions_url
                  %li
                    = link_to t('site.platform_status'), '/status/total'
                  %li
                    = link_to t('system.message'), '/s/message'
                  %li
                    = link_to t('site.setting'), '/s/setting'
                - if superadmin?
                  %li
                    %span.label.label-inverse su 
                  %li
                    = link_to t('site.admin'), '/admin'
                  %li
                    = link_to t('site.roles'), '/t/roles'


    .container-fluid
      = yield

    .container
      %hr
      #footer.footer
        %p
          = t 'site.copyright'
          ©
          = t 'site.name'
