<!DOCTYPE html>
%html
  %head 
    %title= t 'site.name' 
    = favicon_link_tag
    = javascript_include_tag :defaults
    = csrf_meta_tag
    = javascript_include_tag 'jquery.min.js'

    = javascript_include_tag 'jquery.validationEngine'
    = javascript_include_tag 'jquery.validationEngine-zh'
    = stylesheet_link_tag 'validationEngine.jquery'

    =# javascript_include_tag 'rails'
    =# stylesheet_link_tag 'formtastic'#,'formtastic_changes'
    =# formtastic_stylesheet_link_tag
    =# include_tiny_mce_if_needed
    = javascript_include_tag "autocomplete-rails.js"
    = javascript_include_tag 'infogrid', 'fmenu', 'slideshow', 'des', 'jquery.easyListSplitter','jquery-ui-1.8.12.custom.min', 'jquery.notice', 'coin-slider.min', 'slideout_tooltip', 'jquery.bxslider2.min', 'jquery.jqplot.min', 'jquery.tipsy', 'jquery.tablesorter.min', 'jtabber'
    = stylesheet_link_tag 'infogrid', 'fmenu', 'scroller', 'news', 'simpleTicker', 'smoothness/jquery-ui-1.8.12.custom', 'default/jx.stylesheet', 'jquery.notice', 'coin-slider-styles', 'slideout_tooltip', 'bxslider2', 'jquery.jqplot.min', 'tipsy', 'simpleform'
    /[if lt IE 9]
      = javascript_include_tag 'excanvas.min'

    = javascript_include_tag 'site'

    = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/print.css', :media => 'print'
    /[if IE]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'

    :javascript
      $('document').ready(function(){
        $('.gmenu').fixedMenu();
        });
  %body
    #wrapper
      #simple_toolbar
        .gmenu
          - if user_signed_in?
            %ul
              %li
                = link_to t('site.task'), tasks_url
              %li
                = link_to t('site.user_center'), current_user
              %li
                = link_to t('site.transport_center'), transports_path
              %li
                = link_to t('site.rule'), articles_path
              %li
                = link_to '#' do
                  = t('site.service_center')
                  %span.garrow
                %ul
                  %li
                    = link_to t('site.service_list'), '/t/service'
                  %li
                    = link_to t('site.service'), issues_path 
              %li
                - if admin?
                  = link_to '#' do
                    = t('site.manage_center')
                    %span.garrow
                  %ul
                    %li
                      = link_to t('site.manage_center'), admin? ? users_path : ''
                    %li
                      = link_to t('site.cash_task'), :controller=>'board', :action=>'task_list', :task_type => 'cash'
                    %li
                      = link_to t('site.big_cash'), '/t/big_cash'
                    %li
                      = link_to t('trade.manage_payment'), '/m/approve/charge'
                    %li
                      = link_to t('trade.manage_point'), '/m/approve/point'
                    %li
                      =# link_to t('trade.manage_recyling'), '/m/approve/recyling'
                      = link_to t('trade.manage_score'), '/m/approve/score'
                      %hr
                    %li
                      = link_to t('site.issue'), issues_path
                    %li
                      = link_to t('site.tasklog_center'), '/t/tasklogs'
                    %li
                      = link_to t('site.accountlog_center'), '/t/accountlogs'
                    %li
                      = link_to t('site.finance_center'), transactions_url
                      %hr
                    %li
                      = link_to t('site.platform_status'), '/status/total'
                    %li
                      = link_to t('system.message'), '/s/message'
                      %hr
                    %li
                      = link_to t('site.setting'), '/s/setting'
              %li
                - if superadmin?
                  = link_to t('site.admin'), '/admin'
          #account_bar
            = link_to '/', {:title=>t('site.label')} do
              = image_tag('home.png')
              = t('site.label')
            - if user_signed_in?
              = link_to notices_path, {:title=>t('site.notice_center')} do
                = image_tag('info.png')
                = t('site.notice_center')
              - messages = current_user.message_boxes.where(:status => 'unread').order("created_at DESC")
              - if messages.length > 0
                - if messages.length == 1
                  = link_to image_tag('message.png') + messages.length.to_s + t('message.message_tail'), :controller => 'board', :action => 'view_message', :id => messages.first.message
                - else
                  = link_to image_tag('message.png') + messages.length.to_s + t('message.message_tail'), '/m/message'
              = link_to edit_user_registration_path do
                = image_tag('user_info.png')
                = t('site.profile')
              = link_to destroy_user_session_path do
                = image_tag('logout.png')
                = t('site.logout')
            - else
              = link_to new_user_session_path do
                = image_tag('login.png')
                = t('site.login')
              = link_to new_user_registration_path do
                = image_tag('sign_up.png')
                = t('site.register')
      #wide
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "#{name}"

      #space-left
        %br
      #middle
        = yield
      #space-right

    #push

    #footer
      /[if IE]
        = t 'site.ie'
        \|
      = t 'site.copyright'
      ©
      = t 'site.name'
